78-39-51-105.nip.io {
	log {
		output file /data/access.log {
			roll_size 10mb
			roll_keep 5
		}
	}
	handle_path /api/* {
		reverse_proxy api:3000
	}
	handle {
		root * /srv/pwa
		header Cache-Control "no-cache, must-revalidate"
		file_server
		try_files {path} /index.html
	}
}
